.portfolio {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h1 {
    margin: 20px;
    font-size: 50px;
    color: #15023a;
    
}

.container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    width:250px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid #15023a;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all .5s ease; 
    background-color: #15023a;
    cursor: pointer;

}

.portfolio h3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    font-size: 20px;
    text-shadow: 1.5px 1.5px black;
    /* z-index: -1; */

}

.portfolio .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    
}
.portfolio .container img:hover {
   
    opacity: 0.2;
    z-index: -1;
    
}




@media all and (max-width: 750px)
{ 
    .portfolio h1 {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .container {
        width: 100%;
    }

    .item {
        width: 250px;
        height: 150px;
        margin-right: 20px;
    }
} 