



/* .right .wrapper {
    width: 100%;
    height: 30%;
    margin-top: 100px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    color: white;
    
} */

/* .right .wrapper h1 {
    font-size: 50px;
    margin: 10px 0px;
}

.right .wrapper h2 {
    font-size: 30px;
}

.right .wrapper h3 {
    font-size: 20px;
} */

/* .left .imgContainer{
    width: 430px;
    height: 450px;
    border-radius: 50% 0 50% 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
    margin-left: 150px;
    border: 5px solid whitesmoke;    
   
} */

/* img {
    height: 100%;
    
} */


/* .arrow {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 20%;
    right: 95%;
    width: 300px;
    height: 300px;
    animation: arrowBlink 2s infinite;
} */

/* .about button {
    margin: 0px 20px 20px 0px;
    width: 140px;
    height: 55px;
    background: linear-gradient(90deg,#755bea,#55e7fc);
    color: #15023a;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
} */



/* @keyframes animate {
    0%
    {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}




@keyframes arrowBlink {
    100% {
        opacity: 0;
    }
}

@media all and (max-width: 1250px)
{ 
    .right .wrapper {
        margin-left: 20px;
    }
  
    .about button {
        margin-left: 20px;
    }
   
} 

@media all and (max-width: 1000px)
{
    

    .left .imgContainer {
        height: 350px;
    }

    .right .wrapper {
        padding-left: 0;
        margin-top: 150px;
    }  
    
    .right .wrapper h1 {
        font-size: 40px;
    }

    .right .wrapper h3 {
        font-size: 20px;
    }
   
} 



 

@media all and (max-width: 750px)
{
    .about{
        flex-direction: column;
        align-items: center;
    }

    .left .imgContainer {
        align-items: flex-start;
        width: 100%;
        height: 300px;
        margin-right: 150px;
        margin-top: 10px;
    }

    .right .wrapper {
        padding-left: 0;
        align-items: center;
        margin-top: 30px;
    }

    .right .wrapper h1 {
        font-size: 30px;
    }

    
    .right .wrapper h3 {
        font-size: 20px;
    }
    
    .about button {
        margin-top: 30px;
    }
    .arrow {
        right: 50%;
    }
}  */