.navbar {
    width: 100%;
    height: 70px;
    background-color: #15023a;
    color: white;
    position: fixed;
    top: 0;
    z-index: 2;
}


.left {
    display: flex;
    align-items: center;
}

.wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left .logo {
    width: 30px;
    height: 50px;
    text-decoration: none;
    padding-right: 30px;
    /* color: inherit; */
    margin-right: 30px;
    /* background-color: limegreen;
    padding: 10px;
    border-radius: 50%; */
    /* opacity: 75%; */
    overflow: hidden;
}

.itemContainer{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.icon {
    font-size: 18px;
    margin-right: 5px;
}

.itemContainer span {
    font-size: 15px;
    font-weight: 500px;
}

.right .hamburger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 570px;
}

.right span {
    width: 100%;
    height: 3px;
    background-color: white;
}