@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

.box {
    box-shadow: 18px 18px 36px #8c8c8c,
                 -18px -18px 36px #ffffff
 }
 

.app{
    height: 100vh;    
   
}

.app::-webkit-scrollbar {
    display: none;
}

.sections {
    width: 100%;
    height: calc(100vh - 40px);
    /* background-color: white; */
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; 
  
}

.sections::-webkit-scrollbar {
    display: none;
}
  

div.sections> * {
    width: 100vw;
    /* height: calc(100vh - 70px); */
    scroll-snap-align: start;
}


@font-face {
    font-family: "Burtons";
    src: url("../public/Burtons.otf");
}



